*{
 margin: 0;
 padding: 0;
}

body{
    font-family: "Comic Sans MS";
    
}

main {
    background-color: #457b9d;
    padding:20px;
}

div{
    padding: 0 10px 0 10px;
    border: 3px solid black;
}


button{
    margin: 10px;
    padding: 10px;
    background-color:#e63946 ;
    border-radius: 5px;
}

#award{
    width: 100px;
    height: 120px;
    position: relative;
    left: 150px;
}

footer {
    position: absolute;
    top: 90%;
    background-color: #A8DADC;
    width: 100%;
    padding:5px;
    text-align: center;
  }
